<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <!-- Здесь может быть ваш логотип или название сайта -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="{% url 'catalog:products_list' %}" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="{% url 'blog:list' %}" class="nav-link">Блоги</a></li>
                <li class="nav-item"><a href="contacts/" class="nav-link">Контакты</a></li>
                <li class="nav-item"><a href="{% url 'catalog:categories_list' %}" class="nav-link">Список категорий</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'users:profile' %}" class="nav-link">Профиль</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Выйти</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'users:login' %}" class="nav-link">Войти</a></li>
                <li class="nav-item"><a href="{% url 'users:register' %}" class="nav-link">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-8 col-md-7">
            <h4>О нас</h4>
            <p class="text-body-secondary">Продаём всё</p>
        </div>
    </div>
</div>